
	<% include score_message %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<% include singleCard %>
	<script type="text/javascript" src="./javascripts/scoreboard.js"></script>
	<script type="text/javascript" src="./javascripts/app.js"></script>
	
</body>


