<div id="end-screen-container">
	<div class="end-spacer"></div>
	<div class="end-spacer">
		<image src="../../images/end_screen_score.svg">
		<p class="current-score score-endscreen">0</p>
		<h3>Great game!</h3>
	</div>
	<div class="new-record">
		<input type="text" name="winner-name" value="Winner's name" id="winner-text">
		<input type="button" name="submit-score" value="submit" id="winner-button" onclick="submitScore()">
	</div>
	<div class="end-spacer"></div>
</div>

<script type="text/javascript" src="/javascripts/score_list.js"></script>