<html>
<head>
	<title><%= title %></title>
	<link rel="stylesheet" href="/stylesheets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<!-- <script type="text/javascript" src="./javascripts/save_score.js"></script> -->
</head>
<body>
