<div class="title-container active">
	<!-- <div class="title-background">
		<div class="line line-one"></div>
		<div class="line line-two"></div>
		<div class="line line-three"></div>
		<div class="line line-four"></div>
		<div class="line line-five"></div>
		<div class="line line-six"></div>
		<div class="line line-seven"></div>
	</div> -->
	<div class="level-holder">
		<object class="upper-title title-part" data="images/game_title_buttom_lines_new.svg" type="image/svg+xml" style="transform:rotate(180deg);">
		</object>
		<object class="center-title title-part" data="images/game_title_pink.svg" type="image/svg+xml">
		</object>
		<object class="bottom-title title-part" data="images/game_title_buttom_lines_new.svg" type="image/svg+xml">
		</object>
		<div>
			<button  id="start-button" onclick="closePop()">Let's go!</button>
		</div>
	</div>
</div>