
<div class="score-main">
	<div class="score-title">
		<h4>SCORE</h4>
		<p class="current-score">0</p>
	</div>
	<div id="count-inarow">
		<ul>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
</div>
